@font-face {
    font-family: 'eval1';
    src: url("./eval1.otf");
}
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'eval1','sans-serif';
}

h1 {
    font-size: 2.5rem;
    font-weight: 100;
    color: #ffc107;
    text-shadow: 2px 2px 1px #ffc107;

}

#header-titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}